/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force all root containers to be full width/height */
html, 
body, 
#__next, 
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent global scrollbar */
}

/* Ensure the body behaves like a flex container */
body {
  display: flex;
  flex-direction: column;
}